/* Sections */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: 400 1.2rem 'Open Sans', sans-serif;
	color: #757c81;
}

p {
	text-align: justify;
}

h1 {
	font: 600 1.4rem 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #2e3d49;
}

h2 {
	font: 600 1.6rem 'Open Sans', sans-serif;
}

h3 {
	font: 600 1.4rem 'Open Sans', sans-serif;
	color: #2e3d49;
}

nav {
	display: none;
}

section {
	padding: 2rem 0;
	margin: auto;
}

footer {
	height: 200px;
	background-color: #ff8000;
}

ul {
  width: 100%;
  height: 80vh;
  max-height: 500px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  width: 100%;
  height: 20%;
  font: 600 1.5rem/16vh 'Open Sans', sans-serif;
  text-align: center;
  border-bottom: 2px solid #f9f9f9;
}

/* Other */
.no-scroll {
	overflow: hidden;
}

.section-content {
	width: 90%;
	margin: auto;
	text-align: center;
}

.top-bar {
  width: 100%;
  height: 60px;
  /*position: fixed;*/
  display: flex;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(200,200,200,.8);
  z-index: 10;
}

.logo {
	width: 20%;
}

.social {
	width: 60%;
	display: flex;
}

.burger {
  width: 20%;
  max-width: 75px;
  height: 100%;
  background: url('../images/burger-open.svg') no-repeat center;
  background-size: 35%;
}

.social-media,
.search {
	font: 300 1rem/3rem 'Open Sans', sans-serif;
	padding: .3rem;
	color: #ff8000;
}

.burger-menu {
  position: fixed;
  top: 60px;
  width: 100%;
  background-color: #f0f0f0;
  display: none;
  opacity: 0.9;
  z-index: 10;
}

.close {
  background: url('../images/burger-close.svg') no-repeat center;
  background-size: 30%;
}

.appear {
	opacity: 0;
}

.navbar {
	float: right;
	display: flex;
	flex-wrap: wrap;
}

.nav-link {
  font: 400 1.2rem/3rem 'Open Sans', sans-serif;
  float: left;
  padding: 0 15px;
}

.nav-link:first-of-type {
  padding-left: 0;
}

.container {
	margin: auto;
	/*padding-top: 60px;*/
}

.outstand {
	background-color: #ececec;
}

.picture {
	width: 100vw;
	height: 30vh;
	position: relative;
	left: calc(-50vw + 50%);
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

.picture-text {
	width: 80%;
	padding: .5rem;
	font: normal 1.2rem 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, .2);
}

.option,
.option:hover,
.option:visited,
.option:focus,
.option:active {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  cursor: pointer;
  color: rgba(18, 18, 18, 1);
  border-bottom-color: rgba(18, 18, 18, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.option:hover,
.option:focus {
  border-bottom-color: rgba(18, 18, 18, 1);
}

.active {
  border-bottom-color: rgba(18, 18, 18, 1);
}

.underline,
.underline:hover,
.underline:visited,
.underline:focus,
.underline:active {
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cursor: pointer;
	-webkit-transition-delay: 0s;
					transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
					transition-duration: 0.3s;
	-webkit-transition-property: border-color;
	transition-property: border-color;
	-webkit-transition-timing-function: ease-out;
					transition-timing-function: ease-out;
}

.underline {
	color: rgb(199, 0, 167);
	border-bottom-color: rgba(199, 0, 167, 0);
}

.underline:hover,
.underline:focus {
	border-bottom-color: rgba(199, 0, 167, 1);
}

.underline:active {
	color: rgb(75, 198, 223);
	border-bottom-color: rgb(75, 198, 223);
}


