* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: 400 1.2rem 'Open Sans', sans-serif;
	color: #757c81;
}

header {
	max-width: 900px;
	margin: auto;
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
}

h1 {
	font: 600 1.4rem 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #2e3d49;
}

h2 {
	font: 600 1.6rem 'Open Sans', sans-serif;
}

h3 {
	font: 600 1.4rem 'Open Sans', sans-serif;
	color: #2e3d49;
}

section {
	width: 100%;
	padding: 2rem 0;
}

footer {
	height: 200px;
	background-color: #e92c3e;
}

.tab {
	display: none;
}

.no-scroll {
	position: fixed;
}

.article-content {
	width: 90%;
	max-width: 900px;
	margin: auto;
	text-align: center;
}

.top-bar {
	width: 80%;
	height: 60px;
	float: left;
	/*position: fixed;*/
	display: flex;
	background-color: #fff;
	z-index: 10;
}

.logo {
	width: 20%;
}

.social {
	width: 60%;
	display: flex;
}

.burger {
	width: 20%;
	height: 60px;
	float: left;
}

.burger-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 15px;
}

#burger-icon-close {
	display: none;
}

.close {
	background: url('../images/burger-close.svg') no-repeat center;
	background-size: 30%;
}

.left {
	text-align: left;
}

.social-media,
.search {
	font: 300 1rem/3rem 'Open Sans', sans-serif;
	padding: .3rem;
	color: #f18a2e;
}

.burger-menu {
	position: fixed;
	top: 60px;
	height: calc(100vh - 60px);
	width: 100%;
	display: none;
	background-color: #fff;
	opacity: 0.9;
	z-index: 10;
}

.appear {
	opacity: 0;
}

.wrapper {
	margin: auto;
}

.container {
	margin: auto;
	/*padding-top: 60px;*/
}

.articles {
	display: flex;
	flex-wrap: wrap;
}

.article {
	width: 100%;
	padding: 2rem 0;
}

.outstand {
	background-color: #ececec;
}

.picture {
	width: 100vw;
	height: 40vh;
	position: relative;
	left: calc(-50vw + 50%);
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

.picture-text {
	padding: 0.5rem;
	margin: 2rem;
	font: normal 1.2rem 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, .2);
}

/* Menu */
.menu {
	display: none;
	width: 100%;
	/*margin-bottom: 1.5rem;*/
}

.menu-list {
	margin: 1.5rem auto 0;
	padding: 0;
}

.menu-item {
	display: block;
	margin-bottom: 1rem;
}

.burger-menu .menu-item {
	height: 15vh;
	margin-bottom: 0;
}

.menu-link {
	position: relative;
	text-align: center;
	font: 400 1.6rem 'Open Sans', sans-serif;
	display: block;
	margin: 0 1.5rem;
	padding: 0.6rem 0;
	color: #333;
	cursor: pointer;
	transition: color 0.3s;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu-link:hover,
.menu-link:focus {
	color: #e92c3e;
	outline: none;
}

.menu-current .menu-link {
	color: #e92c3e;
}

.menu-link::before {
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #e92c3e;
	transform: scale3d(0, 1, 1);
	transition: transform 0.1s;
}

.menu-current .menu-link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.3s;
}

/* Link */
.underline,
.underline:hover,
.underline:visited,
.underline:focus,
.underline:active {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cursor: pointer;
	transition-delay: 0s;
	transition-duration: 0.3s;
	transition-property: border-color;
	transition-timing-function: ease-out;
}

.underline {
	color: rgb(172, 33, 146);
	border-bottom-color: rgba(172, 33, 146, 0);
}

.underline:hover,
.underline:focus {
	border-bottom-color: rgba(172, 33, 146, 1);
}

.underline:active {
	color: rgb(241, 138, 46);
	border-bottom-color: rgb(241, 138, 46);
}

/* Media queries*/
@media screen and (min-width: 540px) {

	html {
		font-size: 110%;
	}

	.top-bar {
		width: 100%;
	}

	.burger {
		display: none;
	}

	.burger-menu {
		display: none;
	}

	.menu {
		display: flex;
	}

	.menu-list {
		display: flex;
	}

	.menu-link {
		font: 400 1rem 'Open Sans', sans-serif;
		margin: 0 0.9rem;
	}

	.menu-link::before {
		position: absolute;
	}

}

@media screen and (min-width: 768px) {

	html {
		font-size: 105%;
	}

	.menu-link {
		font: 400 1.2rem 'Open Sans', sans-serif;
		margin: 0 1.5rem;
	}

	.picture-text {
		font: 600 1.3rem 'Open Sans', sans-serif;
	}

}

@media screen and (min-width: 992px) {

	html {
		font-size: 110%;
	}

	.picture-text {
		font: 600 1.5rem 'Open Sans', sans-serif;
	}

}

@media screen and (min-width: 1200px) {

	html {
		font-size: 115%;
	}

	.picture-text {
		padding: 0.7rem;
		font: 600 1.7rem 'Open Sans', sans-serif;
	}

}

@media screen and (min-width: 1800px) {

	.picture-text {
		padding: 1rem;
		font: 600 2.3rem 'Open Sans', sans-serif;
	}

}
