/* Sections */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: 400 1.2rem 'Open Sans', sans-serif;
	color: #757c81;
}

p {
	text-align: justify;
}

h1 {
	font: 600 1.4rem 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #2e3d49;
}

h2 {
	font: 600 1.6rem 'Open Sans', sans-serif;
}

h3 {
	font: 600 1.4rem 'Open Sans', sans-serif;
	color: #2e3d49;
}

section {
	width: 100%;
	padding: 2rem 0;
}

footer {
	height: 200px;
	background-color: #ff8000;
}

ul {
	width: 70%;
	margin: auto;
	list-style-type: none;
	padding: 0;
}

li {
	width: 100%;
	height: 20%;
	font: 600 1.5rem/12vh 'Open Sans', sans-serif;
	text-align: center;
}

/* Other */
.navbar {
	float: right;
	display: none;
	flex-wrap: wrap;
}

.no-scroll {
	position: fixed;
}

.section-content {
	width: 90%;
	margin: auto;
	text-align: center;
}

.top-bar {
	width: 80%;
	height: 60px;
	float: left;
	/*position: fixed;*/
	display: flex;
	background-color: #fff;
	z-index: 10;
}

.logo {
	width: 20%;
}

.social {
	width: 60%;
	display: flex;
}

.burger {
	width: 20%;
	/*max-width: 75px;*/
	height: 60px;
	float: left;
	/*background: url('../images/burger-open.svg') no-repeat center;*/
	/*background-size: 35%;*/
}

.burger-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 15px;
}

#burger-icon-close {
	display: none;
}

.close {
	background: url('../images/burger-close.svg') no-repeat center;
	background-size: 30%;
}

.social-media,
.search {
	font: 300 1rem/3rem 'Open Sans', sans-serif;
	padding: .3rem;
	color: #ff8000;
}

.burger-menu {
	position: fixed;
	top: 60px;
	height: calc(100vh - 60px);
	width: 100%;
	display: none;
	background-color: #fff;
	opacity: 0.9;
	z-index: 10;
}

.appear {
	opacity: 0;
}

.menu {
	width: 100%;
}

.nav-link {
	font: 400 1rem/3rem 'Open Sans', sans-serif;
	float: left;
	padding: 0 15px;
}

.nav-link:first-of-type {
	padding-left: 0;
}

.container {
	margin: auto;
	/*padding-top: 60px;*/
}

.articles {
	display: flex;
	flex-wrap: wrap;
}

.article {
	padding: 2rem 0;
}

.outstand {
	background-color: #ececec;
}

.picture {
	width: 100vw;
	height: 40vh;
	position: relative;
	left: calc(-50vw + 50%);
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

.picture-text {
	width: 80%;
	padding: .5rem;
	font: normal 1.2rem 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, .2);
}

.option,
.option:hover,
.option:visited,
.option:focus,
.option:active {
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	cursor: pointer;
	color: rgba(18, 18, 18, 1);
	border-bottom-color: rgba(18, 18, 18, 0);
	-webkit-transition-delay: 0s;
					transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
					transition-duration: 0.3s;
	-webkit-transition-property: border-color;
	transition-property: border-color;
	-webkit-transition-timing-function: ease-out;
					transition-timing-function: ease-out;
}

.option:hover,
.option:focus {
	border-bottom-color: rgba(18, 18, 18, 1);
}

.active {
	border-bottom-color: rgba(18, 18, 18, 1);
}

.underline,
.underline:hover,
.underline:visited,
.underline:focus,
.underline:active {
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cursor: pointer;
	-webkit-transition-delay: 0s;
					transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
					transition-duration: 0.3s;
	-webkit-transition-property: border-color;
	transition-property: border-color;
	-webkit-transition-timing-function: ease-out;
					transition-timing-function: ease-out;
}

.underline {
	color: rgb(199, 0, 167);
	border-bottom-color: rgba(199, 0, 167, 0);
}

.underline:hover,
.underline:focus {
	border-bottom-color: rgba(199, 0, 167, 1);
}

.underline:active {
	color: rgb(75, 198, 223);
	border-bottom-color: rgb(75, 198, 223);
}

/* Media queries*/
@media only screen and (min-width: 540px) {

	html {
		font-size: 110%;
	}

	.top-bar {
		width: 100%;
	}

	.burger {
		display: none;
	}

	.navbar {
		display: flex;
	}

}

@media only screen and (min-width: 768px) {

	html {
		font-size: 115%;
	}

	.article {
		width: 33.3%;
	}

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

	html {
		font-size: 120%;
	}

}
