{% extends "layout.html" %}
{% set active = "contact" %}
{% block content %}
<!-- Services -->
<div class="tab">

	<section class="outstand">

		<div class="article-content">

			<h2 class="negative left">Contact us</h2>

		</div>

	</section>

	<section>

		<div class="article-content">

			<form class="contact" action="{{url_for('contact')}}" method="POST">
				<div class="field">
					{{form.name.label}}
					{{form.name}}
				</div>
				<div class="field">
					{{form.email.label}}
					{{form.email}}
				</div>
				<div class="field">
					{{form.phone.label}}
					{{form.phone}}
				</div>
				<div class="field">
					{{form.message.label}}
					{{form.message}}
				</div>
				<input type="submit" class="green-button form-submit" id="submit" value="Send">

			</form>

		</div>

	</section>

</div>
{% endblock %}
