{%- extends "layout.html" -%}
{%- set active = "" -%}
{%- block content -%}
<!-- Franchisors -->
<div class="tab">
	<div class="head-picture">
		<img src="{{url_for('static', filename='img/small_business.jpg')}}" class="head-picture" alt="Small Business">
	</div>
	<section class="outstand">
		<div class="article-content">
			<h2 class="negative left">Small business</h2>
		</div>
	</section>
	<section>
		<div class="article-content">
			<p>If you are a small business owner or independent professional and need help with the online presence or online marketing of your business, you are in the right place. We are the team of highly skilled and experienced freelancers in various areas of the business and have the expertise on sales, online marketing, consultancy, business development, project management, partnerships, franchising, design, and website development. We work with small business owners all over the world.</p>
			<p>We will help you with any task related to the online presence and online growth of your business, starting from the website development, SEO, online marketing and moving on to establishing business partnerships on your behalf. We help small business owners in various verticals: real estates, layers, consultants, childcare facilities, nursing homes, hotels, wineries, camping sites, restaurants, night clubs, sailing rentals, car rentals, wellness professionals, accountants, language course centers and other businesses.</p>
			<p>If you like us to dive in to your business and work with you, please fill <a href="{{url_for('contact')}}" class="underline">this form</a> to apply for your free consultation. We will get back to you.</p>
			<p>We prefer to work with our clients on the long term basis. You will be dealing with one project manager for the duration of our collaboration with you. This approach will make the communication much easier for you. And it is not easy for small business owners to find such wide expertise in one hands. Some of our team members worked at Google, therefore standard of our work is very high.</p>
			<p>We also love nature and in nature everything has its balance. We don't want to stretch ourselves too thin and therefore we take on limited number of projects at the time. We are dedicated to small and we want to stay small and personal in order to be able to offer highly customised services which will suite your business, your schedule and will focus on your growth.</p>
			<p>Our charges start at €500 minimum monthly fee and depend on the level of our engagement with you. If our end price will be too high for you to sustain it, we can also look at sales percent or shares as partial compensation.</p>
		</div>
	</section>
</div>
{%- endblock -%}
