{%- extends "layout.html" -%}
{%- set active = "" -%}
{%- block content -%}
	<!-- Startups -->
	<div class="tab">
		<img src="{{url_for('static', filename='img/startups.jpeg')}}" class="section-picture" alt="Startups">
		<section class="outstand">
			<div class="article-content">
				<h2 class="negative left">Startups</h2>
			</div>
		</section>
		<section>
			<div class="article-content">
				<p>If you own a startup and need help with your online presence, branding and making your first sales, we are here to help. We are the team of highly skilled and experienced freelancers in various areas of the business and have the expertise on sales, online marketing, consultancy, UX studies, business development, project management, partnerships, franchising, design, SEO and website development. We work with startups all over the world.</p>
				<p>Everyone knows that the results are an effect of long term high quality work and real value proposition. But often even this work is not enough to break through. Often crucial pieces are missing in order to start making your first sales. And we help you to put this puzzle together.</p>
				<p>When you are so busy and doing so many different things it is hard for you see real opportunities. And it is very hard to look at your own startup with the eyes of the outsider. We act as external consultants and will help you to identity and pursue real business opportunities.</p>
				<p>We offer highly personal guidance. We will first learn about what you do, we will then analyze whats missing in order to start making sales and we will guide you towards making your first sales.</p>
				<p>If you like us to dive in to your business and work with you, please fill <a href="{{url_for('contact')}}" class="underline">this form</a> to apply for your free consultation. We will get back to you.</p>
				<p>We prefer to work with our clients on the long term basis. You will be dealing with one project manager for the duration of our collaboration with you. This approach will make the communication much easier for you. And it is not easy for startups to find such wide expertise in one hands. Some of our team members worked at Google, therefore standard of our work is very high.</p>
				<p>We also love nature and in nature everything has its balance. We don't want to stretch ourselves too thin and therefore we take on limited number of projects at the time. We are dedicated to small and we want to stay small and personal in order to be able to offer highly customised services which will suite your business, your schedule and will focus on your growth.</p>
				<p>Our charges start at €500 minimum monthly fee and depend on the level of our engagement with you. If our end price will be too high for you to sustain it, we can also look at sales percent or shares as partial compensation.</p>
			</div>
		</section>
	</div>
{%- endblock -%}
